<div class="register grid mt-3  justify-content-center align-items-center" [style]="{ width: '50rem',margin:'auto'}">
  <div class="col-10">
    <p-card header="Login Form" subheader="you can Login using the form below" [style]="{ width: '36rem',margin:'auto' }">


<form [formGroup]="form">

  <div class="toast mb-3">
    <p-message>this website is currently under construction </p-message>

  </div>

        <div class="field">
          <input type="text" pInputText placeholder="E-Mail.." class="w-full" formControlName="email" />
        </div>

        <div class="field" >
      <input type="password" pInputText formControlName="password" placeholder="password ..." class="w-full">

        </div>

        <div class="flex gap-3">
          <p-button label=" back to register" severity="contrast" class="w-full" styleClass="w-full" routerLink="/auth/register"/>
          <p-button label="Login" class="w-full" severity="help" styleClass="w-full" (onClick)="onLogin()"/>
        </div>
      </form>

    </p-card>
  </div>
</div>
