

<!--  <div class="grid justify-content-center align-items-center footer mt-3">-->
<!--    <div class="col-12">-->
<!--      <p>&copy; 3/6/2025  <span class="white-rabbit">White Rabbit</span>. All rights reserved.</p>-->
<!--    </div>-->
<!--<div class="gid justify-content-center align-items-center">-->
<!--  <div class="col-12 text-white ">-->
<!--    <a href="/privacy" class="mr-2">Privacy Policy</a>-->
<!--    <a href="/terms" class="mr-2">Terms of Service</a>-->
<!--    <a href="/contact">Contact Us</a>-->
<!--  </div>-->
<!--</div>-->
<!--    <div class="col-12 ">-->
<!--      <p-button icon="pi pi-facebook" styleClass="button-rounded button-secondary mr-1"></p-button>-->
<!--      <p-button icon="pi pi-twitter" styleClass="button-rounded button-secondary mr-1"></p-button>-->
<!--      <p-button icon="pi pi-linkedin" styleClass="button-rounded button-secondary"></p-button>-->
<!--    </div>-->
<!--  </div>-->

<div class="grid justify-content-center align-content-center footer mt-3 p-2">

    <div class="col-12 lg:col-8 md:col-8 left ">
      <p>&copy; 3/6/2025  <span class="white-rabbit">White Rabbit</span>. All rights reserved.</p>
    </div>
    <div class="col-12 lg:col-4 md:col-4 mt-2">

        <p-button label="Contact Us" icon="pi pi-envelope" text routerLink="/contact-us"></p-button>
        <p-button label="Privacy Policy" icon="pi pi-lock" text routerLink="/privacy"></p-button>
        <p-button label="About Us" icon="pi pi-lock" text routerLink="/about-us"></p-button>


    </div>

        </div>

